@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box
}

html, body, .selectionscreen{
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
  }

.pais{
    background: linear-gradient(111,0,9,0.8);
}

.cor{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    height: 100vh;
    }

.selectionscreen{
    animation: fadein 1.8s linear;
}

  p{
	font-size: 10px;
	margin: 5px;
	color: white;
}
  
  .logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 300px;
    height: 100px;
    margin: auto;
    animation: girar .8s linear, flash 3s linear;
  }
  
  .personageminf {
      display: flex;
      left: 0;
      right: 0;
      top: 0;
      width: 500px;
      height: 300px;
      margin-top: 100px;
      margin-left : 490px;
  }

.personageminf img{
    margin-top: 25px;
    max-width: 250px;
    
}

.status{
    width: auto;
    height: 200px;
    margin-left: 15px;
    margin-top: 15px;
}

.status h1{
    margin-top: 30px;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.tag {
	font-family: 'Roboto', sans-serif;
	padding: 6px;
	padding-top: 2px;
    padding-bottom: 2px;
    width: auto;
	margin: 4px;
	margin-left: 11px;
} 

.temtexto{
	font-weight: 600;
	background-color: #ffde00;
	border: 1.2px solid #ffde00;
    border-radius: 4px;
    margin: 4px;
	margin-left: 11px;
}

.personagem_status{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600;

}

.selecao{
    margin-top:  400px;
    margin-left: -550px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.selecao ol{
	list-style-type: none;
	margin: 0px;
}

.selecao ol li{
	float: left;
}

.perfil {
	background-size: cover;
	filter: grayscale(1);
	margin-bottom: 2px;
	height: 80px;
	width: 80px;
	outline: 2px solid gray;
	align-self: stretch;
	cursor: pointer;
	position: relative;
	text-align: center;
}

.lutador_nome{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
	color: white;
	position: absolute;
    background-color: rgba(255, 0, 0, 0.5);
    bottom: 0;
	left: 0;
	right: 0;
}

@keyframes fadein {
    0% { opacity: 0; }
    70% { opacity: 0; }
    80% { opacity: 0.5; }
    100%  { opacity: 1; }
}

@keyframes flash {
    0% {filter: brightness(100%);}
    20% {filter: brightness(150%);}
    40% {filter: brightness(100%);}
    60% {filter: brightness(150%);}
    80% {filter: brightness(100%);}
    100% {filter: brightness(150%);}
  }

  @keyframes girar {
      0% { 
        -webkit-transform:rotate(360deg) scale(0.1);
        -moz-transform:rotate(360deg) scale(0.1); 
        -o-transform:rotate(360deg) scale(0.1);}
  }

  @keyframes mover {
        0% {
            filter: drop-shadow(8px 5px 1px #fff);
            transform: translateX(-20%);
        }
        20% {
            filter: drop-shadow(8px 5px 1px #fff);
            transform: translateX(-10%);
        }
        100% {
            filter: drop-shadow(8px 5px 1px #000);
            transform: translateX(0%);
        }
    }
